.wrapper {
  /* height: 100%;
  width: 100%; */
  text-align: center;
  display: grid;
  margin-bottom: 50px;
  margin: 0 90px auto;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
@media (max-width: 700px) {
  .wrapper {
    margin: 50px auto;
  }
}
.wrapper .box {
  width: 350px;
  margin: 0 auto;
  position: relative;
  perspective: 1000px;
}
.wrapper .box .frontFace {
  background: #fff;
  height: 220px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 5px 20px 0px rgba(0, 81, 250, 0.1);
  transition: all 0.5s ease;
}
.box .frontFace .icon {
  height: 80px;
}
.box .frontFace .icon i {
  font-size: 65px;
}
.box .frontFace span,
.box .backFace span {
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
}
.box .frontFace .icon i,
.box .frontFace span {
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.box .backFace {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 220px;
  width: 100%;
  padding: 30px;
  color: #fff;
  opacity: 0;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  transform: translateY(110px) rotateX(-90deg);
  box-shadow: 0px 5px 20px 0px rgba(0, 81, 250, 0.1);
  transition: all 0.5s ease;
}
.box .backFace p {
  margin-top: 10px;
  text-align: justify;
}
.box:hover .backFace {
  opacity: 1;
  transform: rotateX(0deg);
}
.box:hover .frontFace {
  opacity: 0;
  transform: translateY(-110px) rotateX(90deg);
}
