.socialMedia {
  display: flex;
  justify-content: center;
  padding: 15px 0 20px 0;
}

.socialIcon {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: #aaa;
  border-radius: 50%;
  border: 2px solid rgb(211, 209, 209);
  text-decoration: none;
  font-size: 1.5rem;
  transition: 0.3s;
}

.socialIcon:hover {
  transition: all 1s;
  cursor: pointer;
}

.socialMedia .socialIcon:nth-child(1):hover {
  background: #4285f4;
}
.socialMedia .socialIcon:nth-child(2):hover {
  background: #4267b2;
}
.socialMedia .socialIcon:nth-child(3):hover {
  background: #1da1f2;
}
.socialMedia .socialIcon:nth-child(4):hover {
  background: #2867b2;
}
.socialMedia .socialIcon:nth-child(5):hover {
  background: #333;
}
.socialMedia .socialIcon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.socialMedia .socialIcon:hover i {
  color: #fff;
}
