.socialText {
  padding: 0.7rem 0;
  font-size: 1rem;
}

.socialMedia {
  display: flex;
  justify-content: center;
}

.socialIcon {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: #333;
  border-radius: 50%;
  border: 1px solid #333;
  text-decoration: none;
  font-size: 1.5rem;
  transition: 0.3s;
}

.socialIcon:hover {
  color: #4481eb;
  border-color: #4481eb;
  cursor: pointer;
}

.link {
  padding: 20px;
  text-align: center;
}

.link a,
label {
  text-decoration: none;
  color: #aaa;
  font-size: 15px;
}
